<div class="nav-bar">
    <a href="/">
  <img src="images/Logo.png" alt=""> 
</a>
  <div class="nav-bar-ul">
    <ul>
      <li class="nav-bar-li"><a href="/">Home</a></li>
      <li class="nav-bar-li dropdown">
          Services
          <div class="dropdown-content">
            <a href="/internalControl">Internal Control</a>
            <a href="/powerBI">Power BI</a>
            <a href="/training">Training</a>
          </div>
      </li>
      <li class="nav-bar-li"><a href="/estimate">Estimate</a></li>
      <li class="nav-bar-li"><a href="/youraccount">Your account</a></li>
      <li class="nav-bar-li">About us</li>
      <li class="nav-bar-li"><a href="/login"><img src="images/icons8-user-50.png" alt="login"></a></li>  
      <li class="nav-bar-li"><a href="/logout"><img src="images/icons8-sign-out-64.png" alt="sign out"></a></li>   
    </ul>
  </div>
</div>

<div><h2>GET A COST ESTIMATE FOR YOUR PROJECT</h2></div>

<form action="/estimate" method="POST">
  <p>
    <label>
      Project name:
      <input type="text" name="projectName">
    </label>
  </p>

  <p>
    <label>
      Project description:
      <textarea name="projectDescription"></textarea>
      
    </label>
  </p>

  <p>
    <button>Get estimate</button>
  </p>
</form>