<div class="nav-bar">
  <img src="images/Logo.png" alt=""> 
  <div class="nav-bar-ul">
    <ul>
      <li class="nav-bar-li">Services</li>
      <li class="nav-bar-li">Follow your project</li>
      <li class="nav-bar-li">About us</li>
      <li class="nav-bar-li"><img src="images/icons8-user-50.png" alt=""></li>  
      <li class="nav-bar-li"><img src="images/icon_search.png" alt=""> </li>    
    </ul>
  </div>
</div>

<div class="body">
  <div class="services">

    <div>
      <h2>Internal Control</h2>
      <img class="service-photo" src="images/internal-audit.jpeg" alt="">
    </div>

    <div>
      <h2>Data Visualization with Power BI</h2>
      <img class="service-photo" src="images/power-bi.png" alt="">
    </div>

    <div>
      <h2>Training</h2>
      <img class="service-photo" src="images/training.jpeg" alt="">
    </div>

  </div>
  <div class="footer">
    <p>Contact Us</p>
    <p>Our Location</p>
  </div>
</div>