<div class="nav-bar">
    <a href="/">
  <img src="/images/Logo.png" alt=""> 
</a>
  <div class="nav-bar-ul">
    <ul>
      <li class="nav-bar-li"><a href="/">Home</a></li>
      <li class="nav-bar-li dropdown">
          Services
          <div class="dropdown-content">
            <a href="/internalControl">Internal Control</a>
            <a href="/powerBI">Power BI</a>
            <a href="/training">Training</a>
          </div>
      </li>
      <li class="nav-bar-li"><a href="/estimate">Estimate</a></li>
      <!--<li class="nav-bar-li"><a href="/youraccount">Your account</a></li>-->
      <li class="nav-bar-li"><a href="/aboutus">About us</a></li>
      <li class="nav-bar-li"><a href="/login"><img src="/images/icons8-user-50.png" alt="login"></a></li>  
      <li class="nav-bar-li"><a href="/logout"><img src="/images/icons8-sign-out-64.png" alt="sign out"></a></li>   
    </ul>
  </div>
</div>

<div class="title">
  <h2>Training on Power BI</h2>
</div>

<div class="lessons">
  <div class="lesson">

    <div class="lesson-title"><div>Introduction to Power BI</div></div>

    <p>
      This class will teach you all the basics in Power BI, including:
    </p>

    <ol>
      <li>How to load data to Power BI</li>
      <li>Clean your data automatically with Power Query</li>
      <li>Create visualizations</li>
      <li>Intro to Data Analytics with DAX</li>
      <li>Share your reports and dashboards</li>
    </ol>

  </div>

  <div class="lesson">

    <div class="lesson-title"><div>Advanced Data Analytics with Power BI</div></div>

    <p>
      This class require a basic knowledge of Power BI to enrol. After this class, you will be able to develop all types of analysis and KPIs in Power BI. 
      Topics are: 
    </p>

    <ol>
      <li>Advanced data cleaning in Power Query</li>
      <li>Calculated columns and measures in Power BI</li>
      <li>Evaluation context for DAX formulas</li>
      <li>Main DAX formulas: FILTER, CALCULATE, SUMX, VALUES, RANKX</li>
      <li>Time intelligence in Power BI</li>
      <li>Hands-on projects: Returning customers analysis, profitability analysis</li>
    </ol>

  </div>

</div>